		html{
		    font-family: sans-serif;
		    margin: 10;
		}
		body{
		    background-color: #dbd5d4;
		}
		.section{
		    font-family: inherit;
		    padding: 15px;
		    margin-bottom: 10px;
		    border-radius: 8px;
		    background-color: #f2f9f3;
		}
		h1{
		    font-size: 50;
		    color: darkred;
		    font-family: sans-serif;
		    text-shadow: 2px 2px 2px grey;
		}
		h3{
		    font-size: 50;
		    color: red;
		    font-family: sans-serif;
		    font-style: bold;
		    text-shadow: 2px 2px 50px red;
		}
		p{
		    font-family: inherit;
		    font-size: 115;
		    color: black;
		}
		.box{
		    padding=5px;
		}
